<nav>
    <div class="top">
        <div class="icon"><img src="images/icon.jpg" alt="my logo">
        </div>
        <div class="top1"><b>Gurpreet Singh</b></div>
        <div class="top2">
            <table>
                <tr>
                    <td>
            <a href="/home"><h3>Home</h3></a>
            <a href="/work"><h3>Works</h3></a>
            <a href="/about"><h3>About Me</h3></a>
            <a href="/blog"><h3>Blog</h3></a>
            <a href="/contact"><h3>Contact</h3></a>
        </td>
        </tr>
            </table>
        </div>
    </div>
</nav>