<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .bs-example{
    	margin: 2vw;
    }
    .bs-example pre{
      font-size:1.3vw;
      background-color:black;
    }
        body {
          background-color:rgb(152, 143, 165);
        }
        </style>
</head>
<body>
    <div class="bs-example">
    <pre class="text-success"><code><%=co%></code></pre>
  </div>
</body>
</html>